In [3]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from pandas import DataFrame, read_csv

from ML.DTGenerated import DTGenerated
import pickle

In [2]:
def makeDataUsable(df: DataFrame, pastImportance: int=6, secBeforeCol: int=3) -> DataFrame:
    """
    Make a usable Dataframe from a csv file from generated data.\\
    Creates pastImportance of columns for each prediction feature.\\
    Registers the "col" feature before an actual collision as 1, up to secBeforeCol back in time.
    
    ### Params:
        * df: Dataframe, need to have the columns named "TTC", "DTO", "JERK" and "Speed"ArithmeticError
        * pastImportance: int, needs to be > 0
        * secBeforeCol: int, needs to be > 0
    ### Returns:
        * Dataframe
    """
    colsToUse = ["TTC", "DTO", "JERK", "Speed", "asX", "asY", "asZ"]
    columns = ["Time"]
    columns += [f"{c}{i}" for c in colsToUse for i in range(1, pastImportance+1)]
    columns += ["COL"]
    
    # colsToUse = list(df.columns)
    # columns = colsToUse[0]
    # columns += [f"{c}{i}" for i in range(1, pastImportance+1) for c in colsToUse[1:-1]]
    # columns = colsToUse[-1]
    
    dataDict = {col: [] for col in columns}

    for i, row in df.iterrows():
        if row["Time"] < pastImportance-1:
        # if row[colsToUse[0]] < pastImportance-1:   
            continue

        dataDict["Time"].append(row["Time"])
        # dataDict[colsToUse[0]].append(row[colsToUse[0]])
        for j, k in enumerate(range(i-pastImportance+1, i+1), start=1):
            for c in colsToUse:
            # for c in colsToUse[1:-1]:
                dataDict[f"{c}{j}"].append(df.iloc[k][c])

        dataDict[f"COL"].append(row["COL"])
        if row["COL"] == 1:
            available = int(row["Time"]-pastImportance+2)
            amount = int(secBeforeCol) if available >= secBeforeCol else available
            dataDict["COL"][-amount:] = [1]*amount

    # for key, val in dataDict.items():
    #     print(key, val, len(val))
    return DataFrame(dataDict)

In [5]:
df = makeDataUsable(read_csv("../data/testGenerateData.csv"),4, 3)
df.head()

,Time,TTC1,TTC2,TTC3,TTC4,DTO1,DTO2,DTO3,DTO4,JERK1,...,asX4,asY1,asY2,asY3,asY4,asZ1,asZ2,asZ3,asZ4,COL
0,3.0,0.0,50.000,50.000,50.000,0.0,100.0000,100.0000,100.0000,0.000,...,-0.005,0.000,-0.000,-0.001,-0.022,0.000,0.004,-0.001,0.004,0.0
1,4.0,50.0,50.000,50.000,50.000,100.0,100.0000,100.0000,100.0000,1.606,...,0.005,-0.000,-0.001,-0.022,-0.032,0.004,-0.001,0.004,-0.004,0.0
2,5.0,50.0,50.000,50.000,0.523,100.0,100.0000,100.0000,6.1305,3.419,...,0.051,-0.001,-0.022,-0.032,0.235,-0.001,0.004,-0.004,-0.028,1.0
3,6.0,50.0,50.000,0.523,0.478,100.0,100.0000,6.1305,6.3838,0.736,...,0.031,-0.022,-0.032,0.235,0.181,0.004,-0.004,-0.028,-0.019,1.0
4,7.0,50.0,0.523,0.478,50.000,100.0,6.1305,6.3838,0.3667,6.073,...,-0.003,-0.032,0.235,0.181,0.000,-0.004,-0.028,-0.019,-0.016,1.0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 174 entries, 0 to 173
Data columns (total 30 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    174 non-null    float64
 1   TTC1    174 non-null    float64
 2   TTC2    174 non-null    float64
 3   TTC3    174 non-null    float64
 4   TTC4    174 non-null    float64
 5   DTO1    174 non-null    float64
 6   DTO2    174 non-null    float64
 7   DTO3    174 non-null    float64
 8   DTO4    174 non-null    float64
 9   JERK1   174 non-null    float64
 10  JERK2   174 non-null    float64
 11  JERK3   174 non-null    float64
 12  JERK4   174 non-null    float64
 13  Speed1  174 non-null    float64
 14  Speed2  174 non-null    float64
 15  Speed3  174 non-null    float64
 16  Speed4  174 non-null    float64
 17  asX1    174 non-null    float64
 18  asX2    174 non-null    float64
 19  asX3    174 non-null    float64
 20  asX4    174 non-null    float64
 21  asY1    174 non-null    float64
 22  asY2    174 non-null    float64
 23  asY3    174 non-null    float64
 24  asY4    174 non-null    float64
 25  asZ1    174 non-null    float64
 26  asZ2    174 non-null    float64
 27  asZ3    174 non-null    float64
 28  asZ4    174 non-null    float64
 29  COL     174 non-null    float64
dtypes: float64(30)
memory usage: 40.9 KB

In [ ]:
kj
        x = scaler.transform(x) # Scaling the data